@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,600&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

//font-family: 'Montserrat', sans-serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s ease;
    font-family: 'Montserrat', sans-serif;
}

:root{
    //all project colors
    //laptop 992px tablet 768px 600px  

    --primaryColor: hsl(228, 66%, 53%);
    --primaryColorLight: hsl(223,100%,97%);
    --primaryColorDark: hsl(216,58%,28%);
    --gradientLight: rgb(114,145,255);
    --bgColor:hsl(0,0%,100%)
    --formColor: hsl(20,42%,87%);
    --whiteColor: #f5f5f9; 
    --blackColor: hsl(0,0%, 18%);
    --blackColorLight: hsl(233,3%,51%);
    --shadowColor:hsl(219,63%,95%);
    --inputColor: hsl(330,12%,97%);
    --cardColor: hsl(300,3%,94%);
    --orangeColor: hsl(25,84%,53%);

    //all project font sizes
    --biggestFontSize:2rem;
    --h1FontSize:1.6rem;
    --h2FontSize:1.25rem;
    --h3FontSize:1rem;
    --normalFontSize:0.938rem;
    --smallFontSize:0.813rem;
    --smallestFontSize:0.75rem;
    --borderRadius:10px;
}

.listing{
    .secContainer{
        .secHeader{
            text-align: center;

            .btns{
                margin-top: 1.5rem;
                gap: 1rem;
                justify-content: center;

                .btn{
                    border: 2px solid var(--primaryColorDark);
                    background: none;
                    color: var(--primaryColor);
                    font-weight: 500;

                    &:hover{
                        background: var(--primaryColor);
                        border: 2px solid transparent;
                        color: var(--whiteColor);

                    }
                }
                :active{
                    background: var(--primaryColor);
                    border: 2px solid transparent;
                    color: var(--whiteColor);
                }
            }
        }

        .secContent{
            .singleListing{
                display: grid;
                border-radius: var(--borderRadius);
                padding: 6px;
                gap: .5rem;
                overflow: hidden;
                &:hover{
                    box-shadow: 0 4px 6px var(--shadowColor);

                    .imgDiv{
                        img{
                            scale: 1.1;
                            transition: .3s ease-in-out;

                        }
                        
                    }
                }

                .imgDiv{
                    height: 200px;
                    width: 100%;
                    border-radius: var(--borderRadius);
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                }

                .info{
                    padding: 0.5rem 0.5rem 0;
                    .price{
                        font-size: var(--h3FontSize);
                        display: block;
                        font-weight: 600;
                        padding: 0.5rem 0;

                        .digits{
                            color: var(--primaryColorDark);
                            opacity: .7;
                        }

                        .duration{
                            font-weight: 500;
                            color: var(--primaryColorDark);
                            opacity: 0.7;
                            font-display: var(--normalFontSize);
                        }
                    }
                    .name{
                        display: block;
                        font-size: var(--h2FontSize);
                        font-weight: 700;
                        color: var(--primaryColorDark);
                    }
                    p{
                        color: var(--primaryColorDark);
                        opacity: 0.7;
                        font-size: var(--normalFontSize);
                        line-height: 20px;
                        border-bottom: 3px solid rgb(235,238,242);
                        padding-bottom: 1rem;
                    }
                }
            }
        }


    }
}